---
import { Button } from "@/components/ui/button"
import '@/styles/globals.css'
import { Alert, AlertDescription, AlertTitle } from "@/components/ui/alert"

---

<html lang="en">
	<head>
		<title>Astro</title>
	</head>
	<body>
		<Button>Hello World</Button>
        <Alert>
            <AlertTitle>Heads up!</AlertTitle>
            <AlertDescription>
              You can add components and dependencies to your app using the cli.
            </AlertDescription>
        </Alert>
          
	</body>
</html>


<style>

    h1 {
        color: white;
        /* text-align: center; */
        
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }


</style>